.landing-page {
  position: relative;
}

.stroke-text {
  -webkit-text-stroke: 1.5px #fff;
  -webkit-text-fill-color: transparent;
}

.bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fade {
  animation: fadeIn ease-in 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
